<style type="text/css">
	.thumb {
	    width: 120px;
	    height: 120px;
	    float: none;
	    position: relative;
	    top: 7px;
	    overflow: hidden;
	}

	.file-input{
		border: 1px solid red;
	}

	.progress-done{
		background: url('https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678134-sign-check-128.png') center white no-repeat;
		opacity: 20%;
		position: absolute;
		top: center;
		left: 0;
		width: 100%;
		height: 300px;
		display: none;
		 
	}

</style>

<h3 class="page-header">Adicionar novo destino <button ng-click="addItem()" class="btn btn-success"> <span class="glyphicon glyphicon-plus"></span> Add </button></h3>

<div class="col-md-6" ng-repeat="i in itens" style="position:relative">
 <form name="myForm{{$index}}">
    <fieldset>
      <div class="form-group">
	      <label></label>
	      <input ng-model="passo.nome" class="form-control" type="text">
	      
      </div>

      <label id="imgFileBrowser{{$index}}" class="btn btn-default btn-block btn-lg btn-file">
      	<span class="glyphicon glyphicon-picture"></span> Selecionar imagem
      	<input style="display:none;" class="file-input" type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile">
      </label>
      
      <i ng-show="myForm{{$index}}.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</i>

	  <div class="form-group" style="margin-top:20px;">
	  	<div id="progressDone{{$index}}" class="progress-done"></div>
      	<img class="img img-thumbnail" ng-show="myForm{{$index}}.file.$valid" ngf-thumbnail="picFile" class="thumb"> 
      	<!-- <button class="btn btn-block btn-warning" ng-click="picFile = null" ng-show="picFile">Remover imagem</button> -->
      </div>

      <div class="form-group">
	      <button id="imgFileSubmitBtn{{$index}}" ng-disabled="picFile == null" class="btn btn-primary btn-block" ng-click="upload($index, picFile)">Usar essa imagem</button>
	      <!-- attr Button: ng-disabled="!myForm.$valid" -->
      </div>
      
      <span class="progress" ng-show="evtProgress >= 0">
        <div class="progress-bar progress-bar-striped active" style="width:{{evtProgress}}%;" ng-bind="evtProgress + '%'"></div>
      </span>

      <span ng-show="picFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

    </fieldset>
  </form>
</div>

<!-- Termina -->

<div class="col-md-12">
	<div class="form-group"> <button class="btn btn-lg btn-success btn-block">Continuar..</button></div>
</div>